
@media (min-width: 480px){ /*telefono*/
    
}

@media (min-width: 768px) { /*tablet*/ 
    .boton{
        width: auto;
    }

    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }

    .novedades {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
    .hero {
        background-image: url(../src/herobig.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        position: relative;
        margin-bottom: 2rem;
    }

    .radar-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }

    .radar-img{
        border-radius: 2rem;
        
        max-width: 120rem;  
    }

     .radar-img img {
        width: 80%; /* La imagen ocupa el 50% del ancho en dispositivos más grandes */
        margin: 0 auto; /* Centrar la imagen horizontalmente */
        display: block; /* Asegurar que la imagen sea un bloque */
    }
    
    

    .contenedor-infotur {
        grid-template-columns: repeat(2, 1fr); /* Cambiar a una sola columna en pantallas pequeñas */
      }
}

@media (min-width: 1140px) {/*laptoop*/
}

@media (min-width: 1400px) {/*tv o monitores mas grandes*/
}
